<footer class="sticky-footer">
  <div class="container">
    <p class="col s2 m4 l12 center">Powered by DarkSky APi
    <img id="dslogo" class="col s2 m4 l12 center"src="https://darksky.net/dev/img/logo.png"> & Google Maps
    <img id="gmlogo"src="https://lh3.googleusercontent.com/MOf9Kxxkj7GvyZlTZOnUzuYv0JAweEhlxJX6gslQvbvlhLK5_bSTK6duxY2xfbBsj43H=w300">
  </p>
  </div>

</footer>
