<% include ../partials/head.ejs %>
  <body>
    <% include ../partials/header.ejs %>

    <main>
      <div class="container">
        <h4>Hello, <%= user.firstName %> </h4>
        <h5> Your current location is , <%= user.timezone  %>  </h5>

            <div id="map">

            <form action="<%= '/address' + '?_method=PUT' %>" method="POST">
              <input name="address" class="addinput" type="text" placeholder="Enter Your Address">
              <button id="button" type="submit">Get Weather</button>
            </form>

            </div>

    <% include ../partials/map.ejs %>
    <% include ../partials/getLocation.ejs %>
    <% include ../partials/footer.ejs %>
  </body>
</html>
